@import "~bootstrap/scss/bootstrap";

.form-add {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 5px;
}

button:not(.btn-close) {
    border-radius: 10px;
    min-width: 110px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
}

.sat-list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    span, div {
        font-size: 12px;
        color:darkgoldenrod;
        border-bottom: 1px solid lightgray;
        padding-bottom: 5px;
        &:last-child {
            border-bottom: none;
        }
    }
    div {
        border: none;
        color: coral;
    }
}

.planet-color span {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.planet-size {
    font-family: monospace;
    font-size: 14px;
}

.planet-name {
    color: orange;
    font-size: 20px;
    font-weight: bold;
}

.modal {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}